# frozen_string_literal: true

<%= @module_name %>::Container.boot(:logger) do |container|
  init do
    require 'logger'
  end

  start do
    $stdout.sync = true
    logger = Logger.new($stdout)
    container.register(:logger, logger)
  end
end
